body{
    min-width: 1050px;
}
.text_body{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 800px;
    min-width: 600px;
}
h1 {
    color: gray;
}
#aboutUs {
  font-family:'Dosis', sans-serif;
  font-size: large;
  border-style: groove;
  border-width: .2em 0em .2em 0em;
  padding-top: 2%;
  padding-bottom: 2%;
}

/*BIO BOXES*/
.container {
    width: 100%;
    height: 15vh;
    max-height: 100px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.pfp_container {
    width: 14%;
    float: left;
    background-color: #FFCC00;
    padding: .5%;
    border-radius: 50%;
}
.title_container {
    width: 85%;
    float: right;
    height: 25%;
}
.description {
    width: 83%;
    float: right;
    height: 50%;
    padding-left: 2%;
}
.social_media {
    width: 85%;
    float: right;
    height: 25%;
    display: inline;
}
.profile_pic {
    width: 100%;
    height: auto;
    border-radius: 50%;

}
.text_body p {
    width: 100%;
    height: 100%;
    color: black;
    font-family:'Dosis', sans-serif;
    margin: 0;
    font-size: 1em;
}
p1 {
    width: 100%;
    height: 100%;
    color: black;
    margin: 0;
    font-size: .75em;
}
.social_pic{
    width: auto;
    height: 100%;
    margin-left: 1em;
}

.social_media a {
    text-decoration: none;
    font-family: cursive;
    font-size: .75em;

}
.partners{
  border-style: groove;
  border-width: .2em 0em 0em 0em;
}
