@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
