html,body{
  width: 100vw;
  overflow-x: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  display: table;
}
.underDiv {
  display: table-row;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.TitlePageContainer{
  width: 100%;
  height: 100%;
  position: relative;
}

#titleBox{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.imgContainer{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.img-original{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.img-original img{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-new{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: width .4s;
}

#new-img-id{
  height: 100%;
  object-fit: cover;
  object-position: center;
}



h1{
  color: #00adb5;
  font-size: 4em;
  text-align: center;
  transition-duration: 0.8s;
  margin-bottom: 0.3em;
}
.second_page{
  height: 100vh;
  position: relative;
}
button{
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  transition-duration: 0.4s;
  cursor: pointer;

}

.button1 {
  background-color:cornsilk;
  color: black;
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color:#00adb5;
  color: white;
}



/* .imageContainer{
  height: 100%;
  position: relative;
}
.image-original{
  width: 100%;
  height: 100%;
}
.image-original img{
  height: 100%;
}
.image-new{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  overflow: hidden; */

  /* Force Hardware Acceleration in WebKit */

  /* transform: translateZ(0);
  backface-visibility: hidden;
  transition: width .4s;
}
.image-new:hover{
  width: 100%;
}
.image-new img{
  height: 100%;
}

.button2 {
  background-color:cornsilk;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color:#00adb5;
  color: white;
}

#titleBox2{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
} */
