html,body{
  width: 100vw;
  overflow-x: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  display: table;
}
.underDiv {
  display: table-row;
  height: 100%;
  width: 100%;
  background-image: url('/static/home_page_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.underDiv p{
  color: antiquewhite;
  text-align: center;
  opacity: 2;
}
