<html>
    <head>
        <title>ABOUT US | Acqua Fonte</title>
        <link rel="stylesheet" href="about_us.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
<!--        Nav Bar-->
        <div class="menubar">
              <div class="left_options">
                <ul class="menubar_options">
                    <li><a href="../index/index.html" >HOME</a></li>
                    <li><a href="../find_water/find_water.html">FIND WATER</a></li>
                    <li href="../add_location/add_location.html"><a>ADD LOCATION</a></li>
                </ul>
            
            </div>
            <div class="right_options">
                <ul class="menubar_options">
                    <li><a href="../contact/contact.html">CONTACT US</a></li>
                    <li><a id="active" href="../about_us/about_us.html">ABOUT US</a></li>
                    <li><a>LOG IN</a></li>
                </ul>
            
            </div>
            
<!--            ICON LOCATION-->
            <div class="middle_icon">
                <p>🅐🅠🅒🅤🅐 🅕🅞🅝🅣🅔</p>
            </div>
        
        </div>
        
<!--        About Us writing section-->
        <div class="text_body">
            <h1>About Us</h1>
            
            <!--  SHORT DESCRIPTION     -->
            <div style:text-align=center id="aboutUs">
                At Where's my Water, we believe that we can give people the most convenient alternative to single-use plastic water bottles, which contribute nearly 40% of our plastic waste, equivalent to over 60 million plastic bottles per day. We can provide the means to a world where everybody can contribute to help the community, as well as others outside of the community, into a new world where single-use plastics won't dominate our decisions. We can be a catalyst for people to help sustain our environment for future generations to come. We truly believe that we can change the world, one bottle at a time.

                <br><br>Finding water has been a problem that’s been around for thousands of years. Our service allows our users to easily locate free water sources near them. At the same time, reducing the need for single-use bottles that get thrown out, and therefore reducing the pollution that ends up in our ecosystems and oceans. We may not be able to change much as individuals, but when we work as a collective body to achieve a common goal, much more can be accomplished.


            </div>
            <!--   BIO BOXES    -->
       
<!--   ESTEAK SHAPIN BIO BOX    -->
       <div class="container">
            <div class="pfp_container">
                <img src="https://scontent-bos3-1.xx.fbcdn.net/v/t1.0-9/s960x960/69220259_2078362789137992_3845632864079052800_o.jpg?_nc_cat=104&_nc_oc=AQm0iTh_4rHNbu5xbVTTyTpTX-DhEuHJ4R5XGOB6xO9xVQgzsU6fttd-8fuBR9Hk_EM&_nc_ht=scontent-bos3-1.xx&oh=767bfa1a3cb83c1ccf7b7c3f6bcc4ee0&oe=5E83E5A6" class="profile_pic" />
            </div>
            <div class="title_container"><p>ESTEAK SHAPIN, <i>Co-Founder</i>, <i>CEO</i></p></div>
            <div class="description"><p1>askjdh asjkhdb ahbsdba absda dahbsd  kjahbsd lahsbd ahabsd ajhsbd as hbashbdhabdh bhksbd ad</p1></div>
            <div class="social_media">
                <a href="https://www.instagram.com/esteakshapin/"><img src="http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" class="social_pic" /></a>
                <a href="https://www.instagram.com/esteakshapin/">@esteakshapin</a>
                <img src="https://cdn2.iconfinder.com/data/icons/minimalism/512/twitter.png" class="social_pic" />
                <a href="https://twitter.com/esteakshapin">@esteakshapin</a>
                <img src="https://image.flaticon.com/icons/png/512/124/124010.png" class="social_pic" />
                <a href="https://www.facebook.com/profile.php?id=100008928721631">@Esteak Shapin</a>
            </div>
        </div>
       
       <!--   JASON JIANG BIO BOX    -->
       <div class="container">
            <div class="pfp_container">
                <img src="https://scontent-bos3-1.xx.fbcdn.net/v/t1.0-9/61396481_799280533791989_3600831638151364608_n.jpg?_nc_cat=108&_nc_ohc=CZcUcOU2bFUAQl0B3z4AlXv6kq8cN5PuUj3Ex5Z-OlPPq9TC5MqspPYJw&_nc_ht=scontent-bos3-1.xx&oh=e940334615fddd7fe6e40307715e7841&oe=5E4D1929" class="profile_pic" />
            </div>
            <div class="title_container"><p>JASON JIANG, <i>Co-Founder</i>, <i>CTO</i></p></div>
            <div class="description"><p1>Highly dedicated, motivated and well-rounded student working towards a career in STEM-related fields. I pride myself for being a loyal and kind person while pursuing my goals.
                </p1></div>
            <div class="social_media">
                <img src="http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" class="social_pic" />
                <a href="addImage.html">@esteakshapin</a>
                <img src="https://cdn2.iconfinder.com/data/icons/minimalism/512/twitter.png" class="social_pic" />
                <a>@Jason Jiang</a>
                <img src="https://image.flaticon.com/icons/png/512/124/124010.png" class="social_pic" />
                <a href="https://www.facebook.com/jasonjiangny">@Jason Jiang</a>
            </div>
        </div>
       
       <!--   CHRISTOPHER DOU BIO BOX    -->
       <div class="container">
            <div class="pfp_container">
                <img src="https://scontent-bos3-1.xx.fbcdn.net/v/t1.0-1/p160x160/31673025_108081833393150_8318928452044455936_n.jpg?_nc_cat=111&_nc_ohc=zMkWYrJniL8AQmEPPH2UuiSNf1c5XQCCTOIGHIaZZ62lPWWQKhA5YtOLg&_nc_ht=scontent-bos3-1.xx&oh=2eaeb2a70fb1e95d1145e42c9f5fb0af&oe=5E47E0D3" class="profile_pic" />
            </div>
            <div class="title_container"><p>CHRISTOPHER DOU, <i>Co-Founder</i>, <i>CIO</i></p></div>
            <div class="description"><p1>askjdh asjkhdb ahbsdba absda dahbsd  kjahbsd lahsbd ahabsd ajhsbd as hbashbdhabdh bhksbd ad</p1></div>
            <div class="social_media">
                <img src="http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" class="social_pic" />
                <a href="addImage.html">@christopherdou</a>
                <img src="https://cdn2.iconfinder.com/data/icons/minimalism/512/twitter.png" class="social_pic" />
                <a>@christopherdou</a>
                <img src="https://image.flaticon.com/icons/png/512/124/124010.png" class="social_pic" />
                <a>@christopherdou</a>
            </div>
        </div>
        
        </div>
    
    
    </body>


</html>