<html>
    <head>
        <title>ABOUT US | Acqua Fonte</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about_us.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
<!--        Nav Bar-->
        {% with home_id='not_active', find_water_id='not_active', add_location_id='not_active', contact_id='not_active',about_us_id='active',log_in_id='not_active' %}

          {% include 'nav_bar.html' %}
        
        {% endwith %}
        
<!--        About Us writing section-->
        <div class="text_body">
            <h1>About Us</h1>
            
            <!--  SHORT DESCRIPTION     -->
            <div style:text-align=center id="aboutUs">
                At Acqua Fonte, we believe that we can give people the most convenient alternate to single-use plastic water bottles, which contribute to nearly 40% of our plastic waste, equivalent to over 60 million plastic bottles per day. We can provide the means to a world where everybody can contribute to help the community, as well as others outside of the community, into a new world where single-use plastics won't dominate our decisions. We can be a catalyst for people to help sustain our environment for future generations to come. We truly believe that we can change the world, one bottle at a time.

                <br><br>Finding water has been a problem that’s been around for thousands of years. Our service allows our users to easily locate free water sources near them. At the same time, reducing the need for single-use bottles that get thrown out, and therefore reducing the pollution that ends up in our ecosystems and oceans. We may not be able to change much as individuals, but when we work as a collective body to achieve a common goal, much more can be accomplished.


            </div>
            <!--   BIO BOXES    -->
       
<!--   ESTEAK SHAPIN BIO BOX    -->
            <h1>Our Team</h1>
       <div class="container">
            <div class="pfp_container">
                <img src="https://scontent-bos3-1.xx.fbcdn.net/v/t1.0-9/s960x960/69220259_2078362789137992_3845632864079052800_o.jpg?_nc_cat=104&_nc_oc=AQm0iTh_4rHNbu5xbVTTyTpTX-DhEuHJ4R5XGOB6xO9xVQgzsU6fttd-8fuBR9Hk_EM&_nc_ht=scontent-bos3-1.xx&oh=767bfa1a3cb83c1ccf7b7c3f6bcc4ee0&oe=5E83E5A6" class="profile_pic" />
            </div>
            <div class="title_container"><p>ESTEAK SHAPIN, <i>Co-Founder</i>, <i>CEO</i></p></div>
            <div class="description"><p1>Esteak Shapin is a student and developer attending Stuyvesant High School in New York. In his free time, he enjoys playing football, attending hackathons, and spending time with his little brother, Tamin. He lives in Brooklyn, New York with his family.</p1></div>
            <div class="social_media">
                <a href="https://www.instagram.com/esteakshapin/"><img src="http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" class="social_pic" /></a>
                <a href="https://www.instagram.com/esteakshapin/">@esteakshapin</a>
                <img src="https://cdn2.iconfinder.com/data/icons/minimalism/512/twitter.png" class="social_pic" />
                <a href="https://twitter.com/esteakshapin">@esteakshapin</a>
                <img src="https://image.flaticon.com/icons/png/512/124/124010.png" class="social_pic" />
                <a href="https://www.facebook.com/profile.php?id=100008928721631">@Esteak Shapin</a>
            </div>
        </div>
       
       <!--   CHRISTOPHER DOU BIO BOX    -->
       <div class="container">
            <div class="pfp_container">
                <img src="https://scontent-lga3-1.cdninstagram.com/v/t51.2885-19/s320x320/82483335_1029523884050786_5136836342633725952_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_ohc=0jUUhGo35dkAX9EdAXU&oh=2e56817a0ec0d20b5526104af89e9785&oe=5E95C4DB" class="profile_pic" />
            </div>
            <div class="title_container"><p>CHRISTOPHER DOU, <i>Co-Founder</i>, <i>CIO</i></p></div>
            <div class="description"><p1>Christopher Dou is a student and developer from Stuyvesant High School. In his free time, he enjoys going rowing and playing basketball with his friends. He currently lives in Staten Island, NY with his family.</p1></div>
            <div class="social_media">
                <img src="http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" class="social_pic" />
                <a href="https://www.instagram.com/chris_dou_">@christopherdou</a>
          
               
            </div>
        </div>
        <div class="partners">
          <h1>Our Partners</h1>
          <img src='http://www.jjay.cuny.edu/sites/default/files/marketing_development/jj_logo_text_color.png'>

        </div>
        
      </div>
    
    
    </body>


</html>