<html>
    <head>
        <title>HOME | Acqua Fonte</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/add_location.css')}}">

    </head>
    <body>
      <div class="container">

        {% with home_id='not_active', find_water_id='not_active', add_location_id='active', contact_id='not_active',about_us_id='not_active',log_in_id='not_active' %}

          {% include 'nav_bar.html' %}

        {% endwith %}

        <div class="underDiv">
          <div class="form-container">
            <div class="login-page">
              <div class="form">
                <div id='map'></div>

                <div class="rating">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>

                <div class="status_type">
                  <div class='status' id="status_radio">
                    <label>
                      <input type="radio" name="status" value="working" /> working
                    </label>
                    <label>
                      <input type="radio" name="status" value="not Working" /> not working
                    </label>
                  </div>
                  <div class="status" id="type">
                    <label for="cars">fountain Type:</label>

                      <select id="fountain_type">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                      </select>
                  </div>
                </div>

                <form class="fountain-form">
                  <input id='fountain_name' type="text" placeholder="Fountain Name"/>
                  <input id='fountain_comment' type="text" placeholder="comments"/>
                  <input class="fountain_img" id="fountain_img_label" placeholder="Choose a profile picture:" readonly />
                  <input class='fountain_img' id="fountain_img_input" type="file" accept="image/*" placeholder="Upload Image" />

                  <button id="fountain_submit" type="button" name="fountain_submit">create</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>


    </body>


</html>

<!-- <div class='continer'>
        {% with home_id='not_active', find_water_id='not_active', add_location_id='active', contact_id='not_active',about_us_id='not_active',log_in_id='not_active' %}

          {% include 'nav_bar.html' %}

        {% endwith %}

        <h1>ADD LOCATION</h1>

        <form>
          <label for="fountain_name">Name</label><br>
          <input id="fountan_name" type="text" placeholder="Fountain Name" /><br>
          <input type="radio" name="status" value="working" /> working<br>
          <input type="radio" name="status" value="not-working" /> Not Working<br>
          <input type="radio" name="status" value="under-construction" /> Under Construction<br>
          <label for="type">Select the type of the fountain</label>
          <select id='type' name='typ'>
            <option value="type1">Type 1</option>
            <option value="Type2">Type 2 </option>
            <option value="type3">Type 3</option>
            <option value="type4">Type 4</option>
          </select>
        </form>
        <div class="underDiv">
          <div class="bgimg">
            <div class="middle">
              <h1>COMING SOON</h1>
              <hr>
              <p>35 days</p>
            </div>
          </div>
        </div>

      </div>
      -->
