<html>
    <head>
        <title>HOME | Acqua Fonte</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/add_location.css')}}">

    </head>
    <body>
      <div class="container">

        {% with home_id='not_active', find_water_id='not_active', add_location_id='active', contact_id='not_active',about_us_id='not_active',log_in_id='not_active' %}

          {% include 'nav_bar.html' %}

        {% endwith %}

        <div class="underDiv">
          <div class="login-page">
            <div class="form">
              <form class="register-form">
                <input id='register_first_name' type="text" placeholder="first name"/>
                <input id='register_last_name' type="text" placeholder="last name"/>
                <input id='register_username' type="text" placeholder="username"/>
                <input id='register_password' type="password" placeholder="password"/>
                <input id='confirm_pass' type="password" placeholder="confirm password"/>

                <button id="register_submit" type="button" name="register_submit">create</button>
                <p class="message">Already registered? <a id="login_form" href="#">Sign In</a></p>
              </form>
            </div>
          </div>
      </div>

      </div>


    </body>


</html>

<!-- <div class='continer'>
        {% with home_id='not_active', find_water_id='not_active', add_location_id='active', contact_id='not_active',about_us_id='not_active',log_in_id='not_active' %}

          {% include 'nav_bar.html' %}

        {% endwith %}

        <h1>ADD LOCATION</h1>

        <form>
          <label for="fountain_name">Name</label><br>
          <input id="fountan_name" type="text" placeholder="Fountain Name" /><br>
          <input type="radio" name="status" value="working" /> working<br>
          <input type="radio" name="status" value="not-working" /> Not Working<br>
          <input type="radio" name="status" value="under-construction" /> Under Construction<br>
          <label for="type">Select the type of the fountain</label>
          <select id='type' name='typ'>
            <option value="type1">Type 1</option>
            <option value="Type2">Type 2 </option>
            <option value="type3">Type 3</option>
            <option value="type4">Type 4</option>
          </select>
        </form>
        <div class="underDiv">
          <div class="bgimg">
            <div class="middle">
              <h1>COMING SOON</h1>
              <hr>
              <p>35 days</p>
            </div>
          </div>
        </div>

      </div>
      -->
