<html>
    <head>
      {% include 'standard.html' %}

        <title>HOME | Acqua Fonte</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/add_location.css')}}">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWYNykoEI-bVYIgavHIqLYkV5jGy87GQ"></script>

    </head>
    <body>
      <div class="container">

        {% with home_id='not_active', find_water_id='not_active', add_location_id='active', contact_id='not_active',about_us_id='not_active',log_in_id='not_active' %}

          {% include 'nav_bar.html' %}

        {% endwith %}
        {% if thisFountain is defined and thisFountain|length %}
          <meta id="fountaindata"
            {% for key, value in thisFountain %}
             {{key}}="{{value}}"
            {% endfor %}
          >
        {% endif %}
        <div class="underDiv">
          <div class="form-container">
            <div class="login-page">
              <div class="form">
                <div id='map'></div>

                <div class="rating">
                  <span id="5" onclick="stars(5);" class="stars">☆</span><span id="4" onclick="stars(4);" class="stars">☆</span><span id="3" onclick="stars(3);" class="stars">☆</span><span id="2" onclick="stars(2);" class="stars">☆</span><span id="1" onclick="stars(1);" class="stars">☆</span>
                </div>

                <div class="status_type">
                  <div class='status' id="status_radio">
                    <label>
                      <input type="radio" name="status" value="working" /> working
                    </label>
                    <label>
                      <input type="radio" name="status" value="not Working" /> not working
                    </label>
                  </div>
                  <div class="status" id="type">
                    <label for="cars">fountain Type:</label>

                      <select id="fountain_type">
                        <option value="" disabled selected>select a type</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E-wheelChair">E Wheel Chair</option>
                      </select>
                  </div>
                </div>

                <form id="fountain-form" class="fountain-form" enctype="multipart/form-data">
                  <input name="fountain_name" id='fountain_name' type="text" placeholder="Fountain Name"/>
                  <input name="fountain_comment" id='fountain_comment' type="text" placeholder="comments"/>
                  <input class="fountain_img" id="fountain_img_label" placeholder="Choose a picture:" readonly />
                  <input name="fountain_img_input" class='fountain_img' id="fountain_img_input" type="file" accept="image/*" placeholder="Upload Image" />

                  {% if thisFountain is defined and thisFountain|length %}
                  <button id="fountain_submit" type="button" name="fountain_submit">edit</button>
                  {% else %}
                  <button id="fountain_submit" type="button" name="fountain_submit">create</button>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

      <script src="{{ url_for('static', filename='js/add_location.js') }}" defer></script>
    </body>


</html>
