<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/footer-distributed-with-contact-form.css')}}">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

</head>

	<body>
		<footer class="footer-distributed">

			<div class="footer-left">

				<h3><span>🅐🅒🅠🅤🅐</span> <span>🅕🅞🅝🅣🅔</span></h3>

				<p class="footer-company-name">acquafonte.org &copy; 2020. All Rights Reserved</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

			<div class="footer-right">

				<p>Contact Us</p>

				<form action="#" method="post">

					<input type="text" name="email" placeholder="Email" />
					<textarea name="message" placeholder="Message"></textarea>
					<button>Send</button>

				</form>

			</div>

		</footer>

	</body>

</html>
