<!DOCTYPE html>
<html>
    <head>
        <title>HOME | Acqua Fonte</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">

    </head>
    <body>
      <div class='container'>
        {% with home_id='active', find_water_id='not_active', add_location_id='not_active', contact_id='not_active',about_us_id='not_active',log_in_id='not_active' %}

          {% include 'nav_bar.html' %}

        {% endwith %}

          <div class='underDiv'>


            <div id='titleBox'>
              <h1>🅐🅠🅒🅤🅐 🅕🅞🅝🅣🅔 </h1>
              <button class='button1'>Check out the map!</button>
            </div>
          </div>

        </div>
        <!-- <div class='second_page'><img src="{{url_for('static', filename='img/home_page_background_with_markers.PNG')}}" </div> -->


    </body>


</html>
