<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='log_in.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log_in.css')}}">
  </head>
  <body>
    {% with home_id='not_active', find_water_id='not_active', add_location_id='not_active', contact_id='not_active',about_us_id='not_active',log_in_id='active' %}

      {% include 'nav_bar.html' %}

    {% endwith %}
    {% if not logged_in %}

      <div class="login-page">
        <div class="form">
          <form class="register-form">
            <input id='register_first_name' type="text" placeholder="first name"/>
            <input id='register_last_name' type="text" placeholder="last name"/>
            <input id='register_username' type="text" placeholder="username"/>
            <input id='register_password' type="password" placeholder="password"/>
            <input id='confirm_pass' type="password" placeholder="confirm password"/>

            <button id="register_submit" type="button" name="register_submit">create</button>
            <p class="message">Already registered? <a id="login_form" href="#">Sign In</a></p>
          </form>
          <form class="login-form">
            <input id='username' type="text" placeholder="username"/>
            <input id='password' type="password" placeholder="password"/>
            <button id='submit' type="button" name="submit">login</button>
            <p class="message">Not registered? <a id='register_form' href="#">Create an account</a></p>
          </form>
        </div>
      </div>

    {% else %}
      <h3> Welcome {{first_name}} {{last_name}}</h3>
      <button id='log_out' type='button'>Log Out</button>
    {% endif %}


  </body>

</html>
