<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_bar.css')}}">
</head>
<div class="menubar">
    <div class="left_options">
        <ul class="menubar_options">
            <li><a id='{{home_id}}' href="/" >HOME</a></li>
            <li><a id='{{find_water_id}}' href="find_water">FIND WATER</a></li>
            <li><a id='{{add_location_id}}' href="add_location">ADD LOCATION</a></li>
        </ul>

    </div>
    <div class="right_options">
        <ul class="menubar_options">
            <li><a id='{{contact_id}}' href="contact">CONTACT US</a></li>
            <li><a id='{{about_us_id}}' href="about_us">ABOUT US</a></li>
            <li><a id='{{log_in_id}}' href="log_in">LOG IN</a></li>
        </ul>

    </div>
    <div class="middle_icon">
        <p>🅐🅠🅒🅤🅐 🅕🅞🅝🅣🅔</p>
    </div>

</div>
